.body {
	width: 100%;
	min-height: 100vh;
}

.main__container {
	width: 1200px;
	margin: 0 auto;

	@media (max-width: 1300px) {
		& {
			max-width: 1140px;
		}
	}

	@media (max-width: 1200px) {
		& {
			max-width: 960px;
		}
	}

	@media (max-width: 1000px) {
		& {
			max-width: 720px;
		}
	}

	@media (max-width: 760px) {
		& {
			max-width: 540px;
		}
	}

	@media (max-width: 575px) {
		& {
			width: auto;
			margin: 0 10px;
		}
	}
}

.login-btn {
	padding: 8px 30px;
	background-color: #319795;
	border-radius: 4px;
	color: #fff;
	font-size: 16px;
	font-weight: 600;
	transition: all 0.3s ease-in-out;
	&:hover {
		background-color: #298382;
	}
	@media (max-width: 760px) {
		&:hover {
			background-color: #319795;
		}
	}
}

.register-btn {
	padding: 8px 14px;
	background-color: #319795;
	border-radius: 4px;
	color: #fff;
	font-size: 16px;
	font-weight: 600;
	transition: all 0.3s ease-in-out;
	&:hover {
		background-color: #298382;
	}
	@media (max-width: 760px) {
		&:hover {
			background-color: #319795;
		}
	}
}

.send-bid-btn {
	width: 330px;
	height: 80px;
	background-color: #319795;
	border-radius: 4px;
	color: #fff;
	font-size: 22px;
	font-weight: 600;
	transition: all 0.3s ease-in-out;
	&:hover {
		background-color: #298382;
	}
	@media (max-width: 1000px) {
		& {
			width: 300px;
			height: 70px;
		}
	}
	@media (max-width: 760px) {
		& {
			width: 220px;
			height: 60px;
			font-size: 18px;
			font-weight: 500;
		}
	}
	@media (max-width: 760px) {
		&:hover {
			background-color: #319795;
		}
	}
}

.profile-btn {
	width: 330px;
	height: 80px;
	background-color: #319795;
	border-radius: 4px;
	color: #fff;
	font-size: 22px;
	font-weight: 600;
	transition: all 0.3s ease-in-out;
	&:hover {
		background-color: #298382;
	}
	@media (max-width: 1000px) {
		& {
			width: 300px;
			height: 70px;
		}
	}
	@media (max-width: 760px) {
		& {
			width: 220px;
			height: 60px;
			font-size: 18px;
			font-weight: 500;
		}
	}
}
